.card{
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

.card--img {
  height: 100%;
  width: 20em;
  aspect-ratio: 16 / 9;
  border-radius: 0.5em;
}

.card--infos {
  margin-left: 1em;
  padding: 0.5em;
}

.card--infos {
  margin: 1em 0 0 0;
  padding: 0;
}

.card--location {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
  color: var(--clr-text-main);
}
.card--location-url {
  color: var(--clr-text-light);
  font-size: 0.75rem;
}

.card--title {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.card--date {
  font-weight: 700;
}

.card--description {
  max-width: 50rem;
  margin-top: 2em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}